

.card{
  
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 30px 30px 30px -10px rgba(0,0,0,0.15),
    inset 15px 15px 10px rgba(255,255,255,0.75),
    -15px -15px 35px rgba(255,255,255,0.55),
    inset -1px -1px 10px rgba(0,0,0,0.2);

}
.main-img img{
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

.sercial-img img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #ffffff;
    margin-top: -80px;
    z-index: 1;
}
.card:hover .sercial-img img{
    border-color: rgb(22, 207, 183);
    transition: all 0.4s ease;
}

.card-body{
    padding: 10px 40px 0px 40px;
    text-align: justify;
}

.social-icon i{
    font-size: 20px;
    padding: 20px 15px;
    color: darkblue;
    cursor: pointer;

}
.social-icon i:hover{
    color: cornflowerblue;
    transition: all 0.4s ease;
}



position: relative;
width
3eepx;
height
3eepx;
background:
#c9d5ee•,
display: flex;
justify-content: center;
align-items: center;
border-radius.
50px;
box-shadow
30px 3epx 30px -10px
inset 15py 15px 10px
-15px -15px 35px
inset -lpx -lpx 10px